@using GroupBasedAuthorise.Helpers
@model IEnumerable<GroupBasedAuthorise.Models.GroupViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of your groups</h2>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-3">Group name</th>
                    <th class="col-md-3">Company name</th>
                    <th class="col-md-4">Permission</th>
                    <th class="col-md-2">
                        <span class="glyphicon glyphicon-user pull-right">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    var permissionCount = group.Permissions.Count;

                    <tr>
                        <td rowspan="@(permissionCount)">
                            @Html.ActionLink(group.GroupName, "Details", new { id = group.GroupId }, null)
                            @Html.IconLinkAllowedForPermission("Edit", "Groups", "Edit", new { id = group.GroupId }, "glyphicon glyphicon-pencil")
                            @Html.IconLinkAllowedForPermission("Delete", "Groups", "Delete", new { id = group.GroupId }, "glyphicon glyphicon-remove")
                        </td>
                        <td rowspan="@(permissionCount)">
                            @Html.ActionLink(group.CompanyName, "Details", "Companies", new { id = group.CompanyId }, null)
                        </td>
                        <td>@(group.Permissions[0].Name)</td>
                        <td rowspan="@(permissionCount)">
                            <div class="btn-group-vertical" style="float:right;">
                                @Html.ActionLinkAllowedForPermission("Add to group", "AddUsers", "Groups", "AddUsers", new { id = group.GroupId }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Send invite", "SendInvites", new { id = group.GroupId }, new { @class = "btn btn-default" })
                            </div>
                        </td>
                    </tr>
                    for (var i = 1; i < permissionCount; i++)
                    {
                        <tr>
                            <td>@(group.Permissions[i].Name)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @Html.ActionLinkAllowedForPermission("Add new group", "Create", "Groups", "Create")
    </div>
</div>
