@model IEnumerable<GroupBasedAuthorise.Models.GroupViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of your groups</h2>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Group name</th>
                    <th>Company name</th>
                    <th>Permission</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    var permissionCount = group.Permissions.Count;
                    
                    <tr>
                        <td rowspan="@(permissionCount)">
                            @Html.ActionLink(group.GroupName, "Details", new { id = group.GroupId }, null)
                            <a href="@Url.Action("Edit", new { id = group.GroupId })" class="glyphicon glyphicon-pencil"></a>
                            <a href="@Url.Action("Delete", new { id = group.GroupId })" class="glyphicon glyphicon-remove"></a>
                        </td>
                        <td rowspan="@(permissionCount)">
                            @Html.ActionLink(group.CompanyName, "Details", "Companies", new { id = group.CompanyId }, null)
                        </td>
                        <td>@(group.Permissions[0].Name)</td>
                    </tr>
                    for (var i = 1; i < permissionCount; i++)
                    {
                        <tr>
                            <td>@(group.Permissions[i].Name)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @Html.ActionLink("Add new group", "Create")
    </div>
</div>
