@using GroupBasedAuthorise.Helpers
@model GroupBasedAuthorise.Models.CompanyViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            <text>Company groups</text>
        </dt>

        <dd>
            <table class="table-striped">
                @foreach (var group in Model.CompanyGroups)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(group.GroupName, "Details", "Groups",  new { id = group.GroupId }, null)
                            @Html.IconLinkAllowedForPermission("Edit", "Groups", "Edit", new { id = group.GroupId }, "glyphicon glyphicon-pencil")
                            @Html.IconLinkAllowedForPermission("Delete", "Groups", "Delete", new { id = group.GroupId }, "glyphicon glyphicon-remove")
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLinkAllowedForPermission("Edit", "Edit", "Companies", "Edit",  new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
