@model GroupBasedAuthorise.Models.CompanyViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyGroups, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    @for (var i = 0; i < Model.CompanyGroups.Count; i++)
                    {
                        <dt>#@(i + 1)</dt>
                        <dd>
                            <a href="javascript:;" data-toggle="modal" data-target="#myModal@(Model.CompanyGroups[i].GroupId)">
                                @(Model.CompanyGroups[i].GroupName)
                            </a>
                        </dd>
                        <div class="modal fade" id="myModal@(Model.CompanyGroups[i].GroupId)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Group Edit</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.CompanyGroups[i].GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DisplayFor(x => x.CompanyGroups[i].GroupName)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.CompanyGroups[i].Permissions, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <ul class="list-unstyled">
                                                    @for (var j = 0; j < Model.CompanyGroups[i].Permissions.Count; j++ )
                                                    {
                                                        <li>
                                                            @Html.CheckBoxFor(x => x.CompanyGroups[i].Permissions[j].Checked, new { @class  = "disable" })
                                                            @Html.DisplayFor(x => x.CompanyGroups[i].Permissions[j].Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        </li>
                                                    }
                                                </ul>
                                                @Html.ActionLink("To edit this group visit 'Edit Group' page", "Edit", "Groups", new { id = Model.CompanyGroups[i].GroupId }, null)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </dl>
            </div>
            @Html.ActionLink("Create new group for your company", "CreateCompanyGroup", "Groups", new { id = Model.CompanyId }, new { style = "margin-left:235px;", @class = "btn btn-default" })
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn  btn-lg pull-right" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
